<nav class="navbar navbar-expand-md navbar-dark bg-color mb-4">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Movies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="isLoggedIn">
            <a routerLink="/dashboard" class="nav-link">Dashboard</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Movies
              </a>
                <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/movie/nowPlaying">Now Plying</a>
                  <a class="dropdown-item" href="/movie/popular">Popular</a>
                  <a class="dropdown-item" href="/movie/top-rated">Top Rated</a>
                </div>
              </li>
            </ul>
          </div>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a routerLink="/auth/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a routerLink="/auth/register" class="nav-link">Register</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="#" class="nav-link">{{loggedInUser}}</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a href="#" (click)="onLogoutClick()" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

