<div class="searchForm">
    <input (keyup)="searchFilter($event)" id="search" class="search" type="text" placeholder="search for a movie">
</div>
<h1 class="pageTitle">Now Playing Movies</h1>
  
<div *ngIf="movies">
    <div class="card-group movieList">
        <div class="card movieCard" *ngFor="let movie of filterMovies | slice:startIndex:endIndex ">
          <div class="image_content">
            <a id={{movie.id}} title={{movie.title}} href="#!">
              <img src="{{imageUrl + movie.poster_path}}" class="card-img-top movieImg" alt=`{{movie.title}}`>
            </a>
          </div>
            <div class="info">
              <div class="wrapper">
                <div class="count"></div>
                <div class="titleDescription">
                    <h2 class="card-title">{{ movie.title }}</h2>
                    <span>{{movie.release_date | date}}</span>
                </div>
              </div>
              <p class="overview show-less">{{ movie.overview}}</p>
              <div class="viewMore">
                <a href="auth/login">More Info</a>
              </div>
            </div>
        </div>
    </div>
</div>



  <ul class="pagination movePagination">
    <li class="page-item" [class.disabled]="currentIndex == 0">
      <button class="page-link" (click)="updateIndex(currentIndex - 1)" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li *ngFor="let i of pageIndexes; let in=index" class="page-item" [class.active]="startIndex/6 == in">
      <a (click)="updateIndex(in)" class="page-link ">{{in + 1}}</a></li>
    <li class="page-item" [class.disabled]="currentIndex == pageIndexes.length - 1">
      <a class="page-link" (click)="updateIndex(currentIndex + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>