<div class="crews">
    <div class="crewsList">
        <section *ngFor="let crew of crews" class="castsCrewsList">
            <header>
                    <a href="person/{{ crew.id}}"><img  class="castsCrewsImg" [src]="crew.profile_path ? (imageUrl + crew.profile_path) : '../../../assets/img/No_Image_Available.jpg'" alt={{crew.name}}></a>
                    <a href="person/{{ crew.id}}"><h2 class="castsCrewsTitle" >{{crew.name}}</h2></a>
            </header>
            <p>{{crew.job}}</p>
        </section>
    </div>
</div>