* {
    list-style-type: none;
}
.movieDetail {
    position: relative;
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-gap: 20px;
}
.movieImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieImg img {
    object-fit: cover;
    width: 100%;
}
.titleDescription {
    display: flex;
    align-items: center;
}
.titleDescription h1 {
    font-size: 30px;
    padding-right: 10px;
}
.titleDescription span {
    opacity: .6;
}
.title {
    font-size: 25px;
}

.trailerVideo {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%; 
    bottom: 0;
    z-index: 2;
}
.featuredCrewCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}