<app-search></app-search>
<div *ngIf="movieDetail" class="movieDetail">
    <div class="movieImg">
      <img [src]="movieDetail.backdrop_path ? (imageUrl + movieDetail.backdrop_path) : '../../../assets/img/No_Image_Available.jpg'" alt={{movieDetail.title}}>
    </div>
    <div class="movieDiescreprion">
        <div class="titleDescription">
          <h1>{{movieDetail.title}}</h1>
          <span>({{movieDetail.release_date | date: 'y'}})</span>
        </div>
        <div class="trailer">
          <h2 (click)="playTrailer()">Play Trailer</h2>
          <div *ngIf="trailer" class="trailerVideo">
            <h3>Play Trailer</h3>
            <span (click)="close()" class="close">&times;</span>
            <iframe [allowFullscreen]="true" [src]="videoUrl" frameborder="0" width="100%" height="100%" ></iframe>
          </div> 
        </div>
        <div class="overview">
          <h2 class="title">Overview</h2>
          <p>{{movieDetail.overview}}</p>
          <span>runtime: {{movieDetail.runtime}}</span>
        </div>   
        <div class="featuredCrew">
            <h3 class="title">Featured Crew</h3>
            <ul class="featuredCrewCard" >
              <li class="crewCard" *ngFor="let item of crews">
                  <h4>{{item.name}}</h4>
                  <span *ngFor="let job of item.job">{{job}} </span>
              </li>
            </ul> 
        </div>
    </div>
</div> 
<h1>Top Billed Cast</h1>
<app-cast [castCount]="4"></app-cast>
<a href="#!">Full Cast&Crew</a>